body{
    margin: 0px;
    height: 100%;
    background-color: rgba(14,14,14);
}

img{
    width:806px;
    height:586px; 
    display: block;
    margin: auto;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
}